* {
  font-family: Impact, fantasy;
  padding: 0px;
  margin: 0px;
}

.container {
  height: 100%;
  width: 100%;
}

.size-input {
  display: flex;
  align-self: center;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
}

.size-input > p {
  margin-top: 10px;
  color: #fff;
}

.size-input > #input-button {
  height: 40px;
  width: 60px;
}

.xo-button {
  display: flex;
  margin: 5px;
  border-style: solid;
  justify-content: center;
  text-align: center;
}

.game-name {
  text-align: center;
  color: #f7dd39;
  font-size: 150px;
  padding: 20px 30px 20px 30px;
  top: -60px;
  -webkit-text-stroke: 6px;
  -webkit-text-stroke-color: #225a8f;
  position: relative;
  /* background-color: gray;
  border: 2px solid white;
  border-radius: 20px; */
}
.bg-below-game-name {
  background-color: red;
  height: 60px;
  left: -10%;
  width: 120%;
  top: -120px;
  position: absolute;
  z-index: 3;
}

.below-game-name {
  text-align: center;
  color: #f7dd39;
  font-size: 80px;
  position: relative;
  top: -50px;
}

.game-button {
  display: flex;
  margin: 0px 10px 0px 10px;
}

.border-xo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  background-image: url("./bg2.jpg");
}

.xo-bg {
  align-self: center;
  position: relative;
  top: -70px;
  padding: 10px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 100px;
  background-size: cover;
  /* background-image: url("https://coolwallpapers.me/picsup/1084504-toy-story.jpg"); */
}

.game-name:hover {
  color: #f7dd39;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 25%;
  font-size: xx-large;
  /* left: 250px; */
  text-align: center;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  cursor: pointer;
}

.footer-ingame-menu {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  position: relative;
  bottom: 50px;
}

.text-turn {
  position: relative;
  top: -55px;
  text-align: center;
  color: #f7dd39;
  font-size: 40px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #225a8f;
}

.setting-button {
  position: absolute;
  top: -25px;
  height: 30px;
  width: 30px;
  align-items: center;
}

.game-mode > .game-button {
  display: block;
  /* margin-bottom: 10px; */
  top: -30px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.table-replay {
  background-color: white;
  position: relative;
  top: -50px;
}

.back-menu {
  margin: 10px;
  position: relative;
  display: flex;
  bottom: 50px;
  width: 575px;
}

.tbody-column {
  position: relative;
  width: 300px;
  text-align: center;
  font-size: large;
}

.thead-column {
  position: relative;
  width: 300px;
  text-align: center;
  font-size: x-large;
  color: #ffb750;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #4360a8;
}

.replay-xo-btn {
  align-self: center;
  position: relative;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how2play-text {
  font-size: 20px;
  margin: 20px;
  font-weight: normal;
}